<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/cb601e4cd0.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar has-background-success-40 has-shadow">
        <div class="navbar-brand p-3 m-1">
            <img src="images/savor meals.png" alt="website logo" width="80" height="auto">
        </div>
        <div class="navbar-menu" id="nav-links">
            <div class="navbar-end">
                <a class="navbar-item has-text-white" href="#"><i class="fa-solid fa-house"></i>HOME</a>
                <a class="navbar-item has-text-white" href="find.html"><i class="fa-solid fa-magnifying-glass"></i>FIND</a>
                <a class="navbar-item has-text-white" href="create.html"><i class="fa-solid fa-plus"></i>CREATE</a>
                <a class="navbar-item has-text-white" href="discover.html"><i class="fa-solid fa-map"></i>DISCOVER</a>
                <a class="navbar-item has-text-white" href="account.html"><i class="fa-solid fa-circle-user"></i>PROFILE</a>
            </div>
        </div>
    </nav>

    <main>
        <div class="p-1 m-1">

            <div class="p-1 m-1 has-text-centered">
                <h1 class="is-size-3 has-text-weight-bold">Home</h1>
                <h2 class="p-1 m-1 is-size-5">You've come to the right place if you savor food. Whether you are on a fitness journey or you just adore food, you are welcome here! If you click around, you'll find out you can:</h2>
            </div>

            <div class="p-2 m-2">
                <div class="columns">
                    <div class="column">
                        <div class="notification is-success is-light has-text-centered">
                            <i class="fa-solid fa-file-circle-plus is-size-3"></i>
                            <p>Create and find meal plans with nutrition information by the community.</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="notification is-success is-light has-text-centered">
                            <i class="fa-brands fa-creative-commons-nc is-size-3"></i>
                            <p>Create a FREE account to share meal plans and inspire the community.</p>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="notification is-success is-light has-text-centered">
                            <i class="fa-solid fa-hashtag is-size-3"></i>
                            <p>Get an experience that is like social media, but with a foodie twist!</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="notification is-success is-light has-text-centered">
                            <i class="fa-solid fa-brain is-size-3"></i>
                            <p>Gain a better understanding of what you need for your health.</p>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="notification is-success is-light has-text-centered">
                            <i class="fa-solid fa-heart-pulse is-size-3"></i>
                            <p>Discover new foods that benefits your health and taste buds.</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="notification is-success is-light has-text-centered">
                            <i class="fa-solid fa-bullseye is-size-3"></i>
                            <p>Align your needs based on information provided to work towards goal(s)!</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- This will help with making images uniform later on: object-fit: cover -->
            <div class="has-text-centered">
                <h2 class="is-size-5 p-2 m-2">Visit daily to learn about the featured foods of each day of the week. Hover or click on each picture to see more details:</h2>
    
                <div class="columns p-2 mx-2 my-3">
                    <div class="column has-text-centered">
                        <p class="mb-2"><strong>Monday</strong></p>
                        <figure class="image is-square">
                            <img src="images/potatoes.jpg" alt="monday food of the day">
                        </figure>
                    </div>

                    <div class="column has-text-centered">
                        <p class="mb-2"><strong>Tuesday</strong></p>
                        <figure class="image is-square">
                            <img src="images/eggs.jpg" alt="tuesday food of the day">
                        </figure>
                    </div>

                    <div class="column has-text-centered">
                        <p class="mb-2"><strong>Wednesday</strong></p>
                        <figure class="image is-square">
                            <img src="images/questionmark.png" alt="wednesday food of the day">
                        </figure>
                    </div>

                    <div class="column has-text-centered">
                        <p class="mb-2"><strong>Thursday</strong></p>
                        <figure class="image is-square">
                            <img src="images/questionmark.png" alt="thursday food of the day">
                        </figure>
                    </div>

                    <div class="column has-text-centered">
                        <p class="mb-2"><strong>Friday</strong></p>
                        <figure class="image is-square">
                            <img src="images/questionmark.png" alt="friday food of the day">
                        </figure>
                    </div>

                    <div class="column has-text-centered">
                        <p class="mb-2"><strong>Saturday</strong></p>
                        <figure class="image is-square">
                            <img src="images/questionmark.png" alt="saturday food of the day">
                        </figure>
                    </div>

                    <div class="column has-text-centered">
                        <p class="mb-2"><strong>Sunday</strong></p>
                        <figure class="image is-square">
                            <img src="images/questionmark.png" alt="sunday food of the day">
                        </figure>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <footer class="has-background-success-40 has-shadow has-text-white">
        <div class="columns is-justify-content-space-between">
            <div class="column p-3 m-1 has-text-centered">
                <img src="images/savor meals.png" alt="Logo" width="80" height="auto">
            </div>
            <div class="column has-text-centered is-flex is-flex-direction-column p-3 m-1">
                <h3 class="is-size-5 has-text-weight-semibold">LINKS:</h3>
                <ul>
                    <li><a class="has-text-white" href="#"><i class="fa-solid fa-house"></i>HOME</a></li>
                    <li><a class="has-text-white" href="find.html"><i class="fa-solid fa-magnifying-glass"></i>FIND</a></li>
                    <li><a class="has-text-white" href="create.html"><i class="fa-solid fa-plus"></i>CREATE</a></li>
                    <li><a class="has-text-white" href="discover.html"><i class="fa-solid fa-map"></i>DISCOVER</a></li>
                </ul>
            </div>
            <div class="column has-text-centered is-flex is-flex-direction-column p-3 m-1">
                <h3 class="is-size-5 has-text-weight-semibold">FIND ME ON:</h3>
                <ul>
                    <li><a class="has-text-white" href="https://github.com/ProgressiveOverlearn" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i>GitHub</a></li>
                    <li><a class="has-text-white" href="https://www.twitch.com/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-twitch"></i>Twitch</a></li>
                    <li><a class="has-text-white" href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i>LinkedIn</a></li>
                </ul>
            </div>
            <div class="column has-text-centered p-3 m-1">
                <a href="https://progressiveoverlearn.wordpress.com/" target="_blank" rel="noopener noreferrer"><img src="images/progressiveoverlearn.png" alt="Creator Logo" width="100" height="100"></a>
            </div>
        </div>

        <div class="p-3 has-text-centered">
            <p>DISCLAIMER: Meal plans, recipes, and nutritional information on this website are provided for informational purposes only and are not medical advice. Nutritional values are estimates and may vary. Consult a qualified healthcare professional before making dietary changes. You are responsible for your own health and dietary decisions.</p>
        </div>
    </footer>

</body>
</html>